@font-face {
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/source-sans-3-v9-latin_latin-ext-200.woff2') format('woff2');
}

@font-face {
    font-family: 'Source Sans 3';
    font-style: italic;
    font-weight: 200;
    src: url('../fonts/source-sans-3-v9-latin_latin-ext-200italic.woff2') format('woff2');
}

@font-face {
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/source-sans-3-v9-latin_latin-ext-300.woff2') format('woff2');
}

@font-face {
    font-family: 'Source Sans 3';
    font-style: italic;
    font-weight: 300;
    src: url('../fonts/source-sans-3-v9-latin_latin-ext-300italic.woff2') format('woff2');
}

@font-face {
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/SourceSans3-Regular.ttf.woff2') format('woff2');
}

@font-face {
    font-family: 'Source Sans 3';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/source-sans-3-v9-latin_latin-ext-italic.woff2') format('woff2');
}

@font-face {
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/source-sans-3-v9-latin_latin-ext-500.woff2') format('woff2');
}

@font-face {
    font-family: 'Source Sans 3';
    font-style: italic;
    font-weight: 500;
    src: url('../fonts/source-sans-3-v9-latin_latin-ext-500italic.woff2') format('woff2');
}

@font-face {
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/source-sans-3-v9-latin_latin-ext-600.woff2') format('woff2');
}

@font-face {
    font-family: 'Source Sans 3';
    font-style: italic;
    font-weight: 600;
    src: url('../fonts/source-sans-3-v9-latin_latin-ext-600italic.woff2') format('woff2');
}

@font-face {
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/source-sans-3-v9-latin_latin-ext-700.woff2') format('woff2');
}

@font-face {
    font-family: 'Source Sans 3';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/source-sans-3-v9-latin_latin-ext-700italic.woff2') format('woff2');
}

@font-face {
    font-family: 'Source Serif 4';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/source-serif-4-v7-latin_latin-ext-200.woff2') format('woff2');
}

@font-face {
    font-family: 'Source Serif 4';
    font-style: italic;
    font-weight: 200;
    src: url('../fonts/source-serif-4-v7-latin_latin-ext-200italic.woff2') format('woff2');
}

@font-face {
    font-family: 'Source Serif 4';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/source-serif-4-v7-latin_latin-ext-300.woff2') format('woff2');
}

@font-face {
    font-family: 'Source Serif 4';
    font-style: italic;
    font-weight: 300;
    src: url('../fonts/source-serif-4-v7-latin_latin-ext-300italic.woff2') format('woff2');
}

@font-face {
    font-family: 'Source Serif 4';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/SourceSerif4-Regular.ttf.woff2') format('woff2');
}

@font-face {
    font-family: 'Source Serif 4';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/source-serif-4-v7-latin_latin-ext-italic.woff2') format('woff2');
}

@font-face {
    font-family: 'Source Serif 4';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/source-serif-4-v7-latin_latin-ext-500.woff2') format('woff2');
}

@font-face {
    font-family: 'Source Serif 4';
    font-style: italic;
    font-weight: 500;
    src: url('../fonts/source-serif-4-v7-latin_latin-ext-500italic.woff2') format('woff2');
}

@font-face {
    font-family: 'Source Serif 4';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/source-serif-4-v7-latin_latin-ext-600.woff2') format('woff2');
}

@font-face {
    font-family: 'Source Serif 4';
    font-style: italic;
    font-weight: 600;
    src: url('../fonts/source-serif-4-v7-latin_latin-ext-600italic.woff2') format('woff2');
}

@font-face {
    font-family: 'Source Serif 4';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/source-serif-4-v7-latin_latin-ext-700.woff2') format('woff2');
}

@font-face {
    font-family: 'Source Serif 4';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/source-serif-4-v7-latin_latin-ext-700italic.woff2') format('woff2');
}

:root {
    --navbar-color: #252528;
    --bg-color: #1a1b1c;
    --bg-color-card: #252528;
    --bg-color-dimmed: #3b4042;
    --shadow-color: #3b4042;
    --foreground-color: #e6e6e6;
    --foreground-color-dimmed: #d4d4d4;
    --foreground-color-dimmed-2: #999999;
    --accent-color: hsl(357, 88%, 62%);

    --shadow-navbar: 0px 2px 3px -1px rgba(0, 0, 0, 0.1);
    --shadow-button: 0px 4px 8px -2px rgba(0, 0, 0, 0.33);
    --shadow-card: 0px 6px 12px -3px rgba(0, 0, 0, 0.15);

    --border-card: none;

    /*
    --bg-color: #e6e6e6;
    --bg-color-dimmed: #d4d4d4;
    --shadow-color: #999999;
    --foreground-color: #3b4042;
    --foreground-color-dimmed: #595f61;
    --foreground-color-dimmed-2: #595f61;
    --accent-color: #ff6044;
    */

    --header-font: 'Source Serif 4', serif;
    --subheader-font: 'Source Serif 4', serif;
    --running-text-font: 'Source Sans 3', sans-serif;
    --running-text-emphasize-font: 'Source Serif 4', serif;
    --navigation-font: 'Source Sans 3', sans-serif;

    --base-width: 52.9rem;
}


html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box
}

body {
    width: 100vw;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;

    background-color: var(--bg-color);
    color: var(--foreground-color);
    font-family: var(--running-text-font);
    font-size: 1.0rem;
    font-weight: 400;
}

.top-spacer {
    height: 5.0rem;
}

.nav-wrapper {
    /* position: fixed; */
    /* top: 0; */
    /* left: 0; */
    padding: 0.5rem 0;
    line-height: 4.0rem;

    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    background-color: var(--navbar-color);
    box-shadow: var(--shadow-navbar);
}

.nav-logo {
    flex-basis: 7.5rem;
    flex-grow: 1;
    text-align: center;
    user-select: none;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Source Sans 3';
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.2em;
}

.nav-spacer {
    flex-basis: 7.5rem;
    flex-grow: 1;
}

.nav-links {
    flex-grow: 99999;

    font-family: var(--navigation-font);
    font-size: 1.0rem;
    letter-spacing: 0.05em;
    font-weight: 400;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0 1rem;
    padding: 0.75rem 0;
}

.nav-links a {
    line-height: 2.5rem;
    padding: 0 1rem;
    white-space: nowrap;
    color: var(--foreground-color);
    text-decoration: none;
    /* position: relative is needed to create a stacking context for underline */
    position: relative
}

/* underline (hidden by default with scale(0, 1)) */
.nav-links a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--foreground-color);
    bottom: 0;
    left: 0;
    transform: scale(0, 1);
    transition: all .2s ease-out;
}

/* show underline for hovered link */
.nav-links a:hover::after {
    transform: scale(1, 1);
}

/* show underline for link to current page  */
.nav-links .current-page::after {
    transform: scale(1, 1);
}

.content-single {
    margin: 1.4rem auto;

    max-width: var(--base-width);
    background-color: var(--bg-color-card);
    border: var(--border-card);
    box-shadow: var(--shadow-card);
    padding: 1rem 2.5rem;
}

.content-double {
    margin: 1.4rem auto;

    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 1.4rem;

    max-width: var(--base-width);
}

.card {
    width: 25.75rem;
    max-width: 25.75rem;
    flex-grow: 1;

    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;


    background-color: var(--bg-color-card);
    border: var(--border-card);

    box-shadow: var(--shadow-card);
    padding: 0;
}

.card-image {
    margin: 0;
    width: 100%;
    height: auto;
    aspect-ratio: 1.0 / 0.75;
    object-fit: cover;
}

.card-content {
    margin: 0;
    width: 100%;
    padding: 1.5rem 2.5rem;
}

.card-action {
    margin: 0;
    width: 100%;
    text-align: center;
    padding: 2.5rem 2.5rem;
    padding-top: 0;
}

.section-header {
    margin: 5rem auto 0 auto;
    padding: 1rem 1rem;
    width: calc(100% - 2.5rem * 2);
    max-width: calc(var(--base-width) - 2.5rem * 2);

    font-family: var(--navigation-font);
    font-size: 1rem;
    letter-spacing: 0.05rem;
    font-weight: 400;

    color: var(--foreground-color-dimmed-2);

    border-bottom: 1px solid;
}

a {
    color: var(--accent-color);
}

h1 {
    margin: 0;
    font-family: var(--header-font);
    font-size: 2.25rem;
    font-weight: 500;
    line-height: 1;
}

h2 {
    margin: 1rem -1rem;
    padding: 1rem;
    font-family: var(--subheader-font);
    font-size: 1.125rem;
    font-style: italic;
    font-weight: 300;
    background-color: var(--bg-color-dimmed);
    color: var(--foreground-color-dimmed);
    text-align: justify;
    line-height: 1;
}

p {
    margin: 1rem auto;
    text-align: justify;
}

b {
    font-variant: small-caps;
    font-weight: normal;
    font-family: var(--running-text-emphasize-font);
    letter-spacing: 0.05em;
    font-size: 0.9em;
}

footer {
    height: 33vh;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.btn {
    text-decoration: none;
    user-select: none;

    white-space: nowrap;
    width: calc(100% - 4rem);
    max-width: 12.5rem;
    margin: 0 auto;
    padding: 0.5rem 2rem;

    font-family: var(--navigation-font);
    font-size: 1.25rem;
    letter-spacing: 0.075em;
    font-weight: 400;

    background-color: var(--accent-color);

    color: var(--foreground-color);
    border: solid 1px var(--accent-color);
    box-shadow: var(--shadow-button);
    transition: all 0.2s ease-out;
    cursor: pointer;
}

.btn:hover {
    color: var(--accent-color);
    background: none;
    transition: all 0.2s ease-out;
}

.inactive {
    color: var(--foreground-color-dimmed-2);
    border: solid 1px var(--foreground-color-dimmed-2);
    background: none;
    pointer-events: none;
}