/* source-sans-pro-regular - latin-ext_latin */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/source-sans-pro-v21-latin-ext_latin-regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/source-sans-pro-v21-latin-ext_latin-300.woff2') format('woff2');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: italic;
    font-weight: 300;
    src: url('../fonts/source-sans-pro-v21-latin-ext_latin-300italic.woff2') format('woff2');
}

/* ibm-plex-serif-200 - latin-ext_latin */
@font-face {
    font-family: 'IBM Plex Serif';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/ibm-plex-serif-v15-latin-ext_latin-200.woff2') format('woff2');
}

/* ibm-plex-serif-300 - latin-ext_latin */
@font-face {
    font-family: 'IBM Plex Serif';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/ibm-plex-serif-v15-latin-ext_latin-300.woff2') format('woff2');
}

/* ibm-plex-serif-300italic - latin-ext_latin */
@font-face {
    font-family: 'IBM Plex Serif';
    font-style: italic;
    font-weight: 300;
    src: url('../fonts/ibm-plex-serif-v15-latin-ext_latin-300italic.woff2') format('woff2');
}

/* ibm-plex-serif-regular - latin-ext_latin */
@font-face {
    font-family: 'IBM Plex Serif';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/ibm-plex-serif-v15-latin-ext_latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/ibm-plex-serif-v15-latin-ext_latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
    --navbar-color: #252528f1;
    --bg-color: #252528;
    --bg-color-dimmed: #3b4042;
    --shadow-color: #3b4042;
    --foreground-color: #e6e6e6;
    --foreground-color-dimmed: #d4d4d4;
    --foreground-color-dimmed-2: #999999;
    --accent-color: #ff6044;

    /*
    --bg-color: #e6e6e6;
    --bg-color-dimmed: #d4d4d4;
    --shadow-color: #999999;
    --foreground-color: #3b4042;
    --foreground-color-dimmed: #595f61;
    --foreground-color-dimmed-2: #595f61;
    --accent-color: #ff6044;
    */

    --header-font: 'Source Sans Pro', sans-serif;
    --subheader-font: 'IBM Plex Serif', serif;
    --running-text-font: 'Source Sans Pro', sans-serif;
    --navigation-font: 'Source Sans Pro', sans-serif;

    --base-width: 56.25rem;
}


html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box
}

body {
    width: 100vw;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;

    background-color: var(--bg-color);
    color: var(--foreground-color);
    font-family: var(--running-text-font);
    font-size: 1.0rem;
    font-weight: 400;
}

.top-spacer {
    height: 5.0rem;
}

.nav-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    line-height: 5.0rem;
    background-color: var(--navbar-color);
}

.nav-logo {
    flex-basis: 7.5rem;
    flex-grow: 1;
    text-align: center;
    user-select: none;

    font-family: 'Source Sans Pro';
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.2rem;
}

.nav-spacer {
    flex-basis: 7.5rem;
    flex-grow: 1;
}

.nav-links {
    flex-grow: 99999;

    font-family: var(--navigation-font);
    font-size: 1.0rem;
    letter-spacing: 0.05rem;
    font-weight: 400;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0 1rem;

    line-height: 2.5rem;
    padding: 0.625rem 0.625rem;
}

.nav-links a {
    padding: 0 1rem;
    white-space: nowrap;
    color: var(--foreground-color);
    text-decoration: none;
    /* position: relative is needed to create a stacking context for underline */
    position: relative
}

/* underline (hidden by default with scale(0, 1)) */
.nav-links a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--foreground-color);
    bottom: 0;
    left: 0;
    transform: scale(0, 1);
    transition: all .2s ease-out;
}

/* show underline for hovered link */
.nav-links a:hover::after {
    transform: scale(1, 1);
}

/* show underline for link to current page  */
.nav-links .current-page::after {
    transform: scale(1, 1);
}

.content-single {
    /* center h */
    margin: 0 auto;

    max-width: var(--base-width);
    padding: 1rem 2.5rem;
}

.content-double {
    /* center h */
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;

    max-width: var(--base-width);
}

.content-double-item {
    flex-basis: 23.75rem;
    flex-grow: 1;
    padding: 1rem 2.5rem;
}

.section-header {
    margin: 5rem auto 0 auto;
    padding: 1rem 1rem;
    width: calc(100% - 2.5rem * 2);
    max-width: calc(var(--base-width) - 2.5rem * 2);

    font-family: var(--navigation-font);
    font-size: 1rem;
    letter-spacing: 0.05rem;
    font-weight: 400;

    color: var(--foreground-color-dimmed-2);

    border-bottom: 1px solid;
}

a {
    color: var(--accent-color);
}

h1 {
    margin: 2rem 0;
    font-family: var(--header-font);
    font-size: 3rem;
    font-weight: 300;
}

h2 {
    margin: 1rem -1rem;
    padding: 1rem;
    font-family: var(--subheader-font);
    font-size: 1.125rem;
    font-style: italic;
    font-weight: 300;
    background-color: var(--bg-color-dimmed);
    color: var(--foreground-color-dimmed);
    text-align: justify;
}

p {
    margin: 1rem auto;
    text-align: justify;
}

footer {
    height: 33vh;
}

.img-backdrop {
    margin: 0 auto;
    padding: 0;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.button_wrapper {
    padding: 1rem 1rem;
    text-align: center;
}

button {
    white-space: nowrap;
    width: calc(100% - 4rem);
    max-width: 14.5rem;
    margin: 0 auto;
    padding: 0.5rem 1rem;

    font-family: var(--navigation-font);
    font-size: 1.25rem;
    letter-spacing: 0.125rem;
    font-weight: 400;

    background-color: var(--accent-color);

    color: var(--bg-color);
    border: solid 2px var(--accent-color);
    border-radius: 0.25rem;
    box-shadow: 0.25rem 0.25rem 0px var(--shadow-color);
    transition: all 0.2s ease-out;
    cursor: pointer;
}

button:hover {
    color: var(--accent-color);
    background-color: var(--bg-color);
    transition: all 0.2s ease-out;
}