:root {
    --foreground-color: #1a1b1c;
    --foreground-color-light: #242525;
    /*--accent-color: #f34951;*/
    --accent-color: #ff5760;
    --accent-color-light: #ff848a;

    --shadow-button: 0px 4px 8px -2px rgba(0, 0, 0, 0.33);

    --navigation-font: 'Source Sans 3', sans-serif;

    /*footer*/
    --footer-font: 'Source Sans 3', sans-serif;

    /*navbar*/
    --navbar-height: 6rem;
    --navbar-sticky-height: 2.75rem;
    --logo-height: 6rem;

    /*gallery*/
    --gallery-item-min-width: 12rem;
    --gallery-gap: 0.5rem 0.5rem;

    /*gallery cards*/
    --card-theme-font: 'Source Sans 3', sans-serif;
    --card-header-font: 'Source Sans 3', sans-serif;
    --card-font: 'Source Serif 4', serif;

    /*social*/
    --social-height: 7rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;

    font-family: 'Source Serif 4', serif;
    font-weight: 400;
    font-size: 1.0rem;

    color: var(--foreground-color);
    background-color: #f7f7f7;
}

h1 {
    all: unset;
}

h2 {
    all: unset;
    display: block;
    margin: 2rem auto;
    padding: 1rem;
    width: auto;
    width: 100%;
    max-width: 40rem;

    font-family: 'Source Sans 3', serif;
    font-weight: 300;
    font-size: 2.5rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: center;

    border-bottom: 1px solid var(--foreground-color-light);

    color: var(--foreground-color-light);

    scroll-margin-top: calc(var(--navbar-sticky-height) * 2);
}

.logo {
    margin: 0 auto;
    width: auto;

    height: var(--logo-height);
    line-height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    font-family: 'Source Sans 3';
    font-size: 1.626rem;
    font-weight: 600;
    letter-spacing: 0.125em;
    text-align: center;

    color: #ffffff;
    background-color: var(--foreground-color-light);

    user-select: none;
}

.flex-layout-centered {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*footer*/
footer {
    margin: 0 auto;
    margin-top: 5rem;
    padding: 2rem 2rem;
    min-height: 10rem;

    text-align: center;

    font-family: var(--footer-font);

    background-color: #ebebeb;

    .flex-layout-centered {
        margin: 2rem auto;
        padding: 0;
        max-width: 30rem;
        gap: 0.5rem 1rem;
    }

    h2 {
        all: unset;
        display: block;
        margin: 2rem auto;

        font-weight: 600;
        font-size: 0.875rem;
        letter-spacing: 0.15em;

        color: #1a1b1c;
    }

    a {
        font-size: 0.875rem;
        font-weight: 400;
        letter-spacing: 0.15em;

        color: #1a1b1c;
    }

    .email {
        font-size: 0.875rem;
        font-weight: 400;
        letter-spacing: 0.15em;
        text-decoration: underline;

        color: #1a1b1c;

        .obf {
            display: inline-block;
            width: 0;
            height: 0;
            overflow: hidden;
        }
    }
}

.navbar {
    position: sticky;
    top: 0;
    line-height: var(--navbar-sticky-height);
    background-color: #ebebeb;

    .nav-links {
        margin: 0 auto;
        padding: 0;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 0 1rem;

        font-family: 'Source Sans 3', serif;
        font-size: 0.875rem;
        letter-spacing: 0.1em;
        font-weight: 400;

        line-height: var(--navbar-sticky-height);

        a {
            line-height: var(--navbar-sticky-height);
            padding: 0 1rem;
            white-space: nowrap;
            color: var(--foreground-color);
            text-decoration: none;
            text-transform: uppercase;

            position: relative;

            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 2px;
                background-color: var(--foreground-color);
                bottom: 0;
                left: 0;
                transform: scale(0, 1);
                transition: all .2s ease-out;
            }

            &:hover::after {
                transform: scale(1, 1);
            }
        }
    }
}

.nav-spacer {
    height: calc((var(--navbar-height) - var(--navbar-sticky-height)) / 2);
    background-color: #ebebeb;
}

/*gallery*/
.gallery-container {
    margin: 0 auto;
    max-width: 48rem;
    padding: 1rem;
    background-color: #f7f7f7;
}

.gallery {
    margin: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--gallery-item-min-width), 1fr));
    grid-auto-rows: auto;
    justify-items: stretch;
    align-items: stretch;
    grid-gap: var(--gallery-gap);

    * {
        overflow: hidden;
    }

    img {
        width: 100%;
        height: auto;
        object-fit: contain;
        /* cover | contain */
    }

    a {
        all: unset;
        cursor: pointer;
    }

    .card {
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            aspect-ratio: 1.6;
            object-fit: cover;
            /* cover | contain */
        }

        .card-theme {
            font-family: var(--card-theme-font);
            font-size: 0.875rem;
        }

        .card-content {
            padding: 0.5rem;
            width: 100%;

            font-family: var(--card-font);

            h2 {
                all: unset;

                /*font-family: var(--card-header-font);
                font-size: 2.25rem;
                font-weight: 300;
                letter-spacing: 0.1em;
                text-transform: uppercase;*/

                font-family: 'Source Sans 3', serif;
                font-weight: 600;
                font-size: 1.5rem;
                letter-spacing: 0.1em;
                text-transform: uppercase;

                box-shadow: var(--accent-color-light) 0 0 inset;
                transition: box-shadow 0.075s ease-out;
            }

            p {
                margin: 0;
                padding: 0.25rem 0;

                font-size: 1.0rem;
                font-weight: 400;
            }
        }

        &:hover .card-content h2 {
            /*box-shadow: #cff7e9 0 -.25em inset;*/
            box-shadow: var(--accent-color-light) 0 -.25em inset;
        }
    }
}

/*social*/
.social {
    margin: 0 auto;
    padding: 0;
    height: var(--social-height);
    line-height: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.25rem;

    a {
        padding: 0.5rem;
        text-decoration: none;
        font-size: 1.6rem;
        color: #818283;
        transition: all .1s ease-out;

        &:hover {
            color: var(--foreground-color);
        }
    }
}

.hero {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: calc(100svh - var(--navbar-height) - var(--social-height) - var(--logo-height));

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.gallery-large {
    margin: 0 auto;
    padding: 1rem 0;

    width: 100%;
    max-width: 48rem;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    .card {
        display: grid;
        margin: 0;
        padding: 0;

        width: 100%;
        aspect-ratio: 1.6;

        * {
            grid-row: 1;
            grid-column: 1;
        }

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }

        .card-overlay {
            width: 100%;
            height: 100%;

            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            gap: 1rem;

            color: #ffffff;
            /*background-color: #00000050;*/
            background: radial-gradient(circle, rgba(0, 0, 0, 0.33) 0%, rgba(0, 0, 0, 0) 200%);
            transition: all linear 0.125s;

            &:hover {
                background-color: #000000af;
            }

            h2 {
                all: unset;
                margin: 0;
                padding: 0 0.5em;
                width: auto;

                /* == height of capital letters for this font... */
                line-height: 0.7;

                font-family: 'Source Sans 3', sans-serif;
                font-weight: 300;
                text-align: center;
                font-size: calc(min(2.0vw * 5, 5rem));
                text-transform: uppercase;

                text-shadow: 0 0 3em #000000, 0 0 1em #000000;
                /*text-decoration: underline;
                text-decoration-thickness: 1px;
                text-underline-offset: 0.2em;*/

                user-select: none;

            }

            p {
                margin: 0;
                padding: 0 2.0rem;

                font-family: 'Source Sans 3', sans-serif;
                font-size: 1.125rem;
                font-weight: 500;
                line-height: 1.25;

                text-shadow: 0 0 3em #000000;
                text-align: center;
            }
        }
    }
}

.btn {
    all: unset;

    text-decoration: none;
    user-select: none;

    white-space: nowrap;
    width: auto;
    max-width: 12.5rem;
    margin: 0 auto;
    padding: 0.5rem 2rem;

    font-family: var(--navigation-font);
    font-size: 1.125rem;
    letter-spacing: 0.05em;
    font-weight: 400;

    background-color: var(--accent-color);

    color: #ffffff;
    border: solid 1px var(--accent-color);
    box-shadow: var(--shadow-button);
    transition: all 0.2s ease-out;
    cursor: pointer;

    &:hover {
        color: var(--accent-color);
        background: none;
        transition: all 0.2s ease-out;
        text-shadow: 0 0 3em #000000, 0 0 1em #000000;
    }

    &.inactive {
        color: #ffffff;
        border: solid 1px #ffffff;
        background: none;
        pointer-events: none;
        box-shadow: none;
        text-shadow: 0 0 3em #000000, 0 0 1em #000000;
    }
}

.hcard {
    margin: 0 auto;
    padding: 2rem;
    width: 100%;
    max-width: 44rem;
    aspect-ratio: 2;

    display: flex;
    justify-content: stretch;
    align-items: center;

    img {
        width: auto;
        height: 100%;
        aspect-ratio: 0.75;
        object-fit: cover;
    }

    .card-content {
        padding: 0.5rem;
        height: 100%;
        width: 100%;

        font-family: var(--card-font);

        display: flex;
        justify-content: center;
        align-items: center;

        p {
            margin: 0;
            padding: 0.25rem 0;
            text-align: center;

            font-size: 1.0rem;
            font-weight: 400;
        }
    }
}